@model SocialNetwork.Models.DialogModel
<div class="row">
    <div class="dialog">
        <div class="media">
            <div class="media-left media-top">
                <a href="@Url.Action("User","Home",new{id=Model.PublicId})">
                    <img class="media-object dialog_image_user" src="@Model.SenderAvatar" alt="...">
                </a>
            </div>
            <div class="media-body">
                <a href="@Url.Action("Dialog","Messages",new{id=Model.PublicId})">
                    <h5 class="media-heading">
                        @($"{Model.Name} {Model.Surname}") <span class="dialog_message_time">@Model.LastMessageTime.ToString("HH:mm")</span></h5>

                    <div class="media dialog_message">
                        @if (Model.MyAvatar != null)
                        {
                            <div class="media-left media-middle">
                                <img class="media-object dialog_image_from_user" src="@Model.MyAvatar" alt="...">
                            </div>
                        }
                        @if (!Model.IsRead)
                        {
                        <div class="media-body dialog_last_message unread">
                            <span class="">@Model.Body</span>
                        </div>
                        }
                        else
                        {
                            <div class="media-body dialog_last_message">
                                <span class="">@Model.Body</span>
                            </div>
                        }
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
