@model SocialNetwork.Models.AdminViewModels.RoleModel
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div>
    @using (Ajax.BeginForm("CreateRole", new AjaxOptions { UpdateTargetId = "result", OnBegin = "beforeSend('result')", OnComplete = "complete('result')", HttpMethod = "Post" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-10">
                @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-8">
                    <div class="col-md-10"></div>
                    @Html.TextBoxFor(model => model.Name, new { placeholder = "Name", @class = "form-control" })
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Add role</button>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    }

</div>