@model IEnumerable<SocialNetwork.Models.AdminViewModels.RoleModel>

<table id="rolesTable" class="table table-striped table-hover border" style="margin-top:20px;">
    <thead>
        <tr>
            <th>#</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @{ int i = 0;}
    @foreach (var role in Model)
    {
        
        {
            i = i + 1;
        }
            @*string style = null;
            if (@Model.ElementAt(i).Name == "admin")
            { @style = "danger";
            }
            else if (@Model.ElementAt(i).Name == "moderator")
            {
                @style = "warning";
            }*@
        <tr class="">
            <td style="line-height: 35px;">@i</td>
            <td style="line-height: 35px;">@role.Name</td>
            <td>
                @using (Ajax.BeginForm("DeleteRole", new AjaxOptions {OnBegin = "beforeSend('rolesTable')", OnComplete = "complete('rolesTable')", HttpMethod = "Post"}))
                {
                    @Html.Hidden("role", role.Name)
                    <button type="submit" class="btn btn-danger" style="font-size: 12px">Delete</button>
                }
            </td>
        </tr>
    }
    </tbody>
</table> 
