@model SocialNetwork.Models.FriendModel
<div class="row">
    <div class="friends">
        <div class="media">
            <div class="media-left media-top">
                <a href="@Url.Action("User","Home", new { id = Model.PublicId})" style="position: relative;">
                    <img class="media-object dialog_image_user" src="@Model.Avatar" alt="...">
                </a>
            </div>
            <div class="media-body">
                @if (Model.IsFriend)
                {
                    <div id="@($"delete_{Model.PublicId}")" class="btn btn-default btn-danger" style="float: right;top: 0px" onclick="FriendRequest(@Model.PublicId,'Delete','delete','result')">Delete</div>
                }
                else if (Model.IsFollower)
                {
                    <div id="@($"follower_{Model.PublicId}")" class="btn btn-default" style="float: right;top: 0px " onclick="FriendRequest(@Model.PublicId,'Confirm','follower','result')">Add to friends</div>
                }
                else if (Model.IsRequested)
                {
                    <div id="@($"followed_{Model.PublicId}")" class="btn btn-default btn-danger" style="float: right;top: 0px " onclick="FriendRequest(@Model.PublicId,'Unsubscribe','followed','result')">Unsubscribe</div>
                }
                <h5 class="media-heading">@($"{Model.Name} {Model.Surname}")</h5>
                <span>@Model.Address</span>
                <br />
                <a href="@Url.Action("Dialog","Messages", new { id = Model.PublicId})">Write message</a>
            </div>
        </div>
    </div>
</div>
