@model SocialNetwork.Models.LoginModel
<div class="col-md-3 col-sm-6">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form class="form-horizontal" action="/Account/Login" method="post">

        @Html.AntiForgeryToken()
        <fieldset>
        <div class="form-group">
                @Html.EditorFor(model => model.Email, new {htmlAttributes = new {placeholder = "Email", @class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Email, "", new {@class = "text-danger"})
        </div>
        <div class="form-group">
                @Html.EditorFor(model => model.Password, new {htmlAttributes = new {placeholder = "Password", @class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default col-md-6">Login</button>
            <a class="col-md-6" href="#" style="line-height: 39px;">Forgot password?</a>
        </div>
        </fieldset>
    </form>
</div>
