@model SocialNetwork.Models.SettingsViewModel
<div class="row col-md-6">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @using (Ajax.BeginForm("Settings", null, new AjaxOptions(), new { @class = "form-horizontal" }))
    {

        <fieldset>
            <legend>Settings</legend>
            @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { placeholder = "Name", @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Surname, new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Surname, new { placeholder = "Surname", @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Sex, new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.Sex, new { placeholder = "Sex", @class = "form-control select" })
                </div>
                @Html.ValidationMessageFor(model => model.Sex, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">

                <div class="col-md-offset-3 checkbox">
                    @Html.CheckBoxFor(model => model.EmailIsHidden, new { placeholder = "EmailIsHidden" })
                    @Html.LabelFor(model => model.EmailIsHidden)
                </div>
                @Html.ValidationMessageFor(model => model.EmailIsHidden, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "Email", @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 checkbox">
                    @Html.CheckBoxFor(model => model.AboutIsHidden, new { placeholder = "AboutIsHidden" })
                    @Html.LabelFor(model => model.AboutIsHidden)
                </div>
                @Html.ValidationMessageFor(model => model.AboutIsHidden, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.About, new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.About, new { htmlAttributes = new { placeholder = "About", @class = "form-control", rows = "3" } })
                </div>
                @Html.ValidationMessageFor(model => model.About, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 checkbox">
                    @Html.CheckBoxFor(model => model.ActivityIsHidden, new { placeholder = "ActivityIsHidden" })
                    @Html.LabelFor(model => model.ActivityIsHidden)
                </div>
                @Html.ValidationMessageFor(model => model.ActivityIsHidden, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Activity, new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Activity, new { placeholder = "Activity", @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.Activity, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-3 checkbox">
                    @Html.CheckBoxFor(model => model.BirthDateIsHidden, new { placeholder = "BirthDateIsHidden" })
                    @Html.LabelFor(model => model.BirthDateIsHidden)
                </div>
                @Html.ValidationMessageFor(model => model.BirthDateIsHidden, "", new { @class = "text-danger" })
            </div>
            @*<div class="row my_form">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.BirthDate)
                        @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { placeholder = "Birthdate", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            <div class="form-group">
                @Html.LabelFor(model => model.Address, new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Address, new { placeholder = "Address", @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CountryId, new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CountryId, new SelectList(Model.Countries, "Id", "Name"), new { placeholder = "Countries", @class = "form-control select" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CityId, new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.CityId, new SelectList(Model.Cities, "Id", "Name"), new { placeholder = "Cities", @class = "form-control select" })
                </div>
            </div>
            @*<div class="row my_form">
                    <div class="col-md-12">
                        @Html.LabelFor(model => model.CityId)
                        @Html.DropDownList("cities", new SelectList(ViewBag.Cities), new { htmlAttributes = new { @placeholder = "CityId", @class = "form-control select" } })
                        @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </fieldset>
    }
</div>
<script>
    $(function () {
        $("#CountryId").change(function () {
            $.ajax({
                type: "GET",
                url: "/Home/Cities",
                data: { countryId: $('#CountryId option:selected').val() },
                dataType: "html",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#CityId").empty().prepend(data);
                },
                beforeSend: function () { beforeSend('result') },
                complete: function () { complete('result') },
                failure: function () {
                    alert("error");
                }
            });
        });
    })
</script>