<div class="col-md-3 border-menu">
    <ul class="nav nav-pills nav-stacked">
        <li>@Ajax.ActionLink("Create user", "CreateUser","Admin", new AjaxOptions { UpdateTargetId = "result", OnBegin = "beforeSend('result')", OnComplete = "complete('result')", HttpMethod = "Get" })</li>
        <li>@Ajax.ActionLink("Delete user", "DeleteUser", "Admin", new AjaxOptions { UpdateTargetId = "result", OnBegin = "beforeSend('result')", OnComplete = "complete('result')", OnSuccess= "autocomplete()", HttpMethod = "Get" })</li>
        <li>@Ajax.ActionLink("Add role", "CreateRole", "Admin", new AjaxOptions { UpdateTargetId = "result", OnBegin = "beforeSend('result')", OnComplete = "complete('result')", HttpMethod = "Get" })</li>
        <li>@Ajax.ActionLink("Delete role", "DeleteRole", "Admin", new AjaxOptions { UpdateTargetId = "result", OnBegin = "beforeSend('result')", OnComplete = "complete('result')", HttpMethod = "Get" })</li>
        <li>@Ajax.ActionLink("Manage user`s roles", "ManageRoles", "Admin", new AjaxOptions { UpdateTargetId = "result", OnBegin = "beforeSend('result')", OnComplete = "complete('result')", OnSuccess = "autocomplete()", HttpMethod = "Get" })</li>
    </ul>
    <footer>
        <ul class="list-inline">
            <li class="col-md-4"><a >Help</a></li>
            <li class="col-md-4"><a>About us</a></li>

        </ul>
        <br/>
        <hr/>
        <p class="footer"><a>© 2017 – приложение ASP.NET</a></p>
    </footer>
</div>

